<!DOCTYPE html>
<html>
<head>
    <title> E-commarce</title>
    <link rel="stylesheet" href="../css/ecommarcestyle.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="#">Samir Faisal</a>
        </div>
        <div class="searcharea">
            <input type="text" class="search" placeholder="search">
            <div class="searchicon">
                <img src="search.png" alt="search">
            </div>
        </div>
        <div class="section1">
            <img src="../add_color.svg" alt="">
        </div>
        <div class="section1button">
            <h1>WI<span class="color">NT</span>ER CO<span class="color">LLE</span>CTION</h1>
            <button class="btn">buy now</button>
        </div>
        <div class="iconarea">
            <a href="#"><img src="../view/icons8-facebook-48.png" alt=""></a>
            <a href="#"><img src="../view/icons8-instagram-48.png" alt=""></a>
            <a href="#"><img src="../view/icons8-twitter-30.png" alt=""></a>
            <a href="#"><img src="../view/icons8-youtube-48.png" alt=""></a>
        </div>
    </div>
    <section class="productsection">
        <h3>NEW <span class="color">CLOTH</span> COLLECTION</h3>
        <div class="product">
            <div class="productBox">
                <img src="../view/Biker-Jacket.webp" alt="">
                <p>Gents Biker Jacket</p>
                <a href="">3000/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>

            <div class="productBox">
                <img src="../view/large.webp" alt="">
                <p>Gents Long light jacket </p>
                <a href="">1500/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>

            <div class="productBox">
                <img src="../view/danim.jpg" alt="">
                <p>Gents Denim Jacket</p>
                <a href="">2700/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>

            <div class="productBox">
                <img src="../view/black_Jacket.webp" alt="">
                <p>Gents Black Jacket</p>
                <a href="">4000/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>

            <div class="productBox">
                <img src="../view/long_SleeveShirt.webp" alt="">
                <p>Gents Long Sleeve Shirt</p>
                <a href="">1150/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>

            <div class="productBox">
                <img src="../view/Blue_Jacket.webp" alt="">
                <p>Gents Blue Jacket</p>
                <a href="">3200/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
        </div>
    </section>
    <section class="aboutus">
        <div class="writing">
            <h1>ABOUT OURSELF</h1>
            <h4>Small E-Commerce Platform <span class="color">2022</span> New <span class="color">Arrivals</span> Mini Messenger Buy Now</h4>
            <p>A website that enables individuals to purchase and sell physical things, services, and digital products through the internet 
            rather than at a real storefront.</p>
        </div>
        <div class="writing">
            <img src="../view/logo.webp" alt="">
        </div>
    </section>
    <section class="watchsection">
        <h3>NEW <span class="color">WATCH</span> COLLECTION</h3>
        <div class="product">
            <div class="productBox">
                <img src="../view/watch1.jpg" alt="">
                <p>Gents Trissot Watch</p>
                <a href="">2500/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
            <div class="productBox">
                <img src="../view/Marathon.webp" alt="">
                <p>Gents Marathon Watch</p>
                <a href="">4200/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
            <div class="productBox">
                <img src="../view/Sale.webp" alt="">
                <p>Gents IWC watch</p>
                <a href="">2700/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
            <div class="productBox">
                <img src="../view/rolex.png" alt="">
                <p>Gents Rolex watch</p>
                <a href="">10500/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
            <div class="productBox">
                <img src="../view/SKMEIRolling.jpg" alt="">
                <p>Gents SKME Rolling watch</p>
                <a href="">1500/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
            <div class="productBox">
                <img src="../view/fossil.webp" alt="">
                <p>Gents Fossil watch</p>
                <a href="">9500/-</a>
                <a href="" class="cartbtn">Add To Cart</a>
            </div>
        </div>
    </section>
    <section class="submission">
        <h3>Subcribe For New Product Notification</h3>
        <div class="searchbox">
            <input type="text" placeholder="Enter your Email">
            <a href="" class="searchbtn">SEND</a>
        </div>
    </section>
</body>
</html>